/* &display=swap */
@import 'null.css';
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap");

@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Medium.woff2') format('woff2'), url('../fonts/CircularStd-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Black.woff2') format('woff2'), url('../fonts/CircularStd-Black.woff2') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Bold.woff2') format('woff2'), url('../fonts/CircularStd-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}
body{
	max-width: 1440px;
	margin: 0 auto;
	font-family: Oswald;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}
.link-2part{
	color: blue;
	text-decoration: underline;
}
h1{
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	font-weight: 500;
}
.bg-color {
	height: 50px;
}
.bx-example1 {
	background-color: #5286AA;
}
.bx-example2 {
	background-image: linear-gradient(180deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}
.bx-example3 {
	background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.bx-example4 {
	background-image: linear-gradient(90deg, rgba(0,252,255,1) 50%, transparent 0), linear-gradient(0deg, rgba(253,45,62,1) 50%, transparent 0);
	background-size: 15px 15px;
}

.bg-image {
	height: 200px;
}
.bimage-example1 {
	background-image: url("../img/f2aaa94e9f59d81c0ce23a5bcc60e133.jpg");
	background-size: 125px 125px;
}
.bimage-example2 {
	background: url("../img/x2156786-561934934.png") 50% / 150px 150px no-repeat, url("../img/234-2346463_cat-clipart-superhero-superhero-cat-png-transparent-png.png") 25% 50% / 100px 100px no-repeat, url("../img/captain-america.png") 75% 50% / 100px 100px no-repeat, url("../img/sky.jpg") 0 0 / 150px 150px;
}
.bimage-example3 {
	height: 500px;
	background: radial-gradient(circle, rgba(164,60,28,0.5) 88%, rgba(231,66,14,0.5) 97%), url("../img/maxresdefault.jpg") center / cover no-repeat fixed;
}
.bimage-example4 {
	height: 500px;
	background: url("../img/captain-america.png") 50% / 100px 100px repeat-y, url("../img/x2156786-561934934.png") 0 50% / 100px 100px repeat-x;
}
.random-block{
	background: url("../img/1611828367_33-p-foni-s-risunkami-kosmosa-34.jpg") 0 0 /cover no-repeat fixed;
}
.bimage-example5 {
	/* text-align: center; */
	border: 25px solid hsla(0, 0%, 100%, 0.7);
	background: white;
	background-clip: padding-box;
}

.part2 {
}
.likeh1 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.figma-block {
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	max-width: 810px;
	margin: 118px auto 0;
}
.h1figma {
font-weight: 900;
font-size: 46px;
line-height: 1.3;
margin: 0 0 26px 0;
}
.fg-status {
	margin: 0 0 40px 0;
}
img{
	margin: 0 0 60px 0;
}
.fg-status1 {
	display: inline-block;
	background: url(../img/Calendar.svg) 0 50% no-repeat;
	padding: 0 0 0 24px;
	margin:0 24px 0 0;
	color: #787A80;
}
.fg-status2 {
	display: inline-block;
	background: url("../img/Clock.svg") 0 50% no-repeat;
	padding: 0 0 0 24px;
	color: #787A80;
}
.fg-par1 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 24px 0;
}
.fg-par2 {
	line-height: 1.6;
	margin: 0 0 48px 0;
}
.fg-par3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	padding: 0 0 0 58px;
	background: url("../img/braces.svg") 0 0 no-repeat;
	margin: 0 0 48px 0;
}
.fg-par4 {
	line-height: 1.6;
	margin: 0 0 24px 0;
}
ul{
	margin: 0 0 24px 0;
}
ul li{
	line-height: 1.6;
	padding: 0 0 0 32px;
	background: url("../img/check.svg") 0 5px no-repeat;
}
.fg-par5 {
}

.part3 {
}
.figma-block2 {
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	max-width: 810px;
	margin: 118px auto 26px;
}
.figma-likeh2 {
	line-height: 1.5;
	font-weight: 700;
	margin: 0 0 8px 0;
}
.figma-likeh1 {
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
	margin: 0 0 40px 0;
}
.second-list{
	margin: 0 0 48px 0;
}
.button {
	display: inline-block;
	font-size: 14px;
	line-height: 3.1;
	padding: 0 32px;
	background: #F75E05;
	color: #fff;
	border-radius: 4px;
}
footer{
	color: blue;
	text-decoration: underline;
	font-size: 25px;
}